body {
    background-color: #E0E0E0;
    color: #660000;
    font-family: Arial;
}

.container {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 20px;
}

img {
    width: 120%;
    height: 100%;
}
.zaszlo {
    padding: 0px;
    margin: auto;
    width: 25%;
}
.felkialto{
    width: auto;
    height: auto;
}

h2 {
    padding-top: 80px;
    font-size: 36px;
}


.szoveg1{
    padding-top: 30px;
}

