body {
    background-color: #E0E0E0;
}

.container {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 20px;
}

img {
    width: 120%;
    height: 100%;
}
.zaszlo {
    padding: 0px;
    margin: auto;
    width: 25%;
}
.felkialto{
    width: auto;
    height: auto;
}